
@{
    ViewBag.Title = "Index";

}

<link rel="stylesheet" href="~/Reference/adminLTE/bower_components/Ionicons/css/ionicons.min.css">

<!-- Main content -->
<!-- Small boxes (Stat box) -->
<div class="row" id="app">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>{{total}}</h3>

                <p>发送任务</p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>{{completed}}</h3>

                <p>发送成功</p>
            </div>
            <div class="icon">
                <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/SendEmail/Index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-yellow">
            <div class="inner">
                <h3>{{sending}}</h3>

                <p>发送中</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-add"></i>
            </div>
            <a href="/SendEmail/Index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>{{Faileds}}</h3>

                <p>发送失败  </p> 
            </div>
            <div class="icon">
                <i class="ion ion-pie-graph"></i>
            </div>
            <a href="/SendEmail/Index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>{{isread}}</h3>

                <p>已读</p>
            </div>
            <div class="icon">
                <i class="ion ion-person-stalker"></i>
            </div>
            <a href="/SendEmail/Index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-purple">
            <div class="inner">
                <h3>{{noread}}</h3>

                <p>未读</p>
            </div>
            <div class="icon">
                <i class="ion ion-pizza"></i>
            </div>
            <a href="/SendEmail/Index" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
    </div>
    <!-- ./col -->
</div>






@section scripts{

    <script src="~/Reference/adminLTE/bower_components/chart.js/Chart.js"></script>

    <script type="text/javascript">


        var group_vm;
        $(document).ready(function () {

            bind();
          
        });


        function bind() {
            group_vm = new Vue({
                el: "#app",
                data: {
                    total: 0,
                    sending: 0,
                    completed: 0,
                    Faileds: 0,
                    isread: 0,
                    noread:0
                },
                created: function () {
                    this.InitGroup();
                },
                methods: {
                    InitGroup: function () {

                        var self = this;
                        $.ajax({
                            url: "/Dashboard/Statistics",
                            type: "POST",
                            success: function (result) {
                            
                                self.total = result.total;
                                self.sending = result.sending;
                                self.completed = result.completed;
                                self.Faileds = result.faileds;
                                self.isread = result.isread;
                                  self.noread = result.noread;
                            }
                        })
                    },

                }

            });
        }
    </script>



}
