<?xml version="1.0" encoding="utf-8"?>
<configuration>




  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ConnectionStringEncrypt" value="false" />
  </appSettings>
  <connectionStrings>
  
    <add name="Winner.Framework.Oracle.ConnectionStringV2" connectionString="Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = 114.215.210.3 )(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED) (SERVICE_NAME = ORCL)));Persist Security Info=True;User ID=mykm;Password=mykm_test2018_mykm" />

  </connectionStrings>

</configuration>
