
@{
    ViewBag.Title = "Index";

}


@section HtmlHead{


    <link href="~/Reference/css/nsmpt.css" rel="stylesheet" />
}



@section Pageheader{
    <h1>
        <small>  Write E-Mail</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Mailbox</li>
    </ol>

}
<section class="content">

    <div class="row" >
        <div class="col-md-3">
            <div class="box box-info" id="app">

                <div class="box-header with-border">
                    <h3 class="box-title">User Account</h3>

                </div>

                <div class="box-body table-responsive ">

                    <ul class="list-group">
                        <li class="list-group-item" v-for="item in AccountItems">

                            <b>{{item.Account}}</b>&nbsp;&nbsp;

                            <button type="button" class="btn bg-primary  btn-xs pull-right " v-on:click="AccountUse(item)">Use</button>
                        </li>

                    </ul>


                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- About Me Box -->

            <div class="box box-warning">
                <div class="box-header">
                    <h3 class="box-title">Template List</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive " id="App_Temp">
                    <table class="table table-hover" id="tab_contact">
                        <tbody>
                            <tr>

                                <th>Name</th>
                                <th class="text-right"></th>
                            </tr>
                            <tr v-for="(item,index) in Data">

                                <td>

                                    <a v-on:click="useitem(item)" style="cursor:pointer;"> {{item.TempName}}</a>
                                </td>
                                <td class="text-right">
                                    <button type="button" class="btn bg-purple  btn-xs " v-on:click="useitem(item)">Use</button>  &nbsp; &nbsp;
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="box-footer">

                </div>
                <!-- /.box-body -->
            </div>

            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">


            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-envelope "></i> &nbsp;&nbsp;  Let's Get It</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>

                </div>
                <!-- /.box-header -->
                <div class="box-body ">


                    <div class="form-inline" style="margin-top:10px">
                        <button type="button" id="btn_send" class="btn   btn-success pull-left" style="margin-left:20px;">    <i class="fa fa-send"></i> &nbsp;&nbsp; 发 送</button>  &nbsp;&nbsp;
                        <button type="button" id="btn_timesend" class="btn   btn-success pull-left" style="margin-left:20px;" data-toggle="modal" data-target="#modal-default">    <i class="fa fa-clock-o"></i>  定时发送</button>  &nbsp;&nbsp;
                        <button type="button" id="btn_savedraft" class="btn  btn-success pull-left" style="margin-left:20px;">存草稿</button>  &nbsp;&nbsp;

                        <span id="span_draftId" style="display:block"></span>
                    </div>


                    <form class="form-horizontal" style="margin-top:30px">

                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label">寄件人</label>
                            <label id="lb_aid" style="display:block"></label>
                            <div class="col-sm-9">

                                <input type="email" class="form-control input-sm" id="txt_sendermail" placeholder="Select Email" readonly="readonly">

                            </div>

                            <div class="col-sm-2">
                                <a class="pull-left" style="cursor:pointer;margin-top:5px" id="GetGroupMode"> 群发模式</a> <a class="pull-left" style="margin-top:5px; cursor:pointer;display:none" id="GetSingleMode"> 普通模式</a>
                            </div>
                        </div>


                        <div class="form-group" id="div_recmail">
                            <label for="inputEmail3" class="col-sm-1 control-label">收件人</label>

                            <div class="col-sm-9">
                                <input type="email" class="form-control input-sm" id="txt_recivermail" placeholder="Reciver Email">
                            </div>

                            <div class="col-sm-2">
                                <a class="pull-left" style="cursor:pointer;margin-top:5px" onclick="Song('div_chaosong')"> 抄送</a> <a class="pull-left" style="margin-left:10px; cursor:pointer;margin-top:5px" onclick="Song('div_misong')"> 密送</a>
                            </div>

                        </div>


                        <div class="form-group" id="div_group_recmail" style="display:none">
                            <label for="inputEmail3" class="col-sm-1 control-label">收件组</label>

                            <div class="col-sm-9">
                                <select class="form-control input-sm" id="txt_group_recivermail">
                                    <option value="0">---请选择联系人组---</option>
                                </select>
                            </div>

                        </div>


                        <div class="form-group" id="div_chaosong" style="display:none">
                            <label for="inputEmail3" class="col-sm-1 control-label">抄  送</label>

                            <div class="col-sm-9">
                                <input type="email" class="form-control input-sm" id="txt_WCCrecivermail" placeholder="Carbon Copy">
                            </div>

                            <div class="col-sm-2">
                                <a class="pull-left" style="cursor:pointer" onclick="NoSong('div_chaosong','txt_WCCrecivermail')"> 删除抄送</a>
                            </div>
                        </div>




                        <div class="form-group" id="div_misong" style="display:none">
                            <label for="inputEmail3" class="col-sm-1 control-label">密  送</label>

                            <div class="col-sm-9">
                                <input type="email" class="form-control input-sm" id="txt_BCCrecivermail" placeholder="Blind Carbon Copy">
                            </div>

                            <div class="col-sm-2">
                                <a class="pull-left" style="cursor:pointer" onclick="NoSong('div_misong','txt_BCCrecivermail')"> 删除密送</a>
                            </div>

                        </div>



                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label">主 &nbsp;&nbsp; 题</label>

                            <div class="col-sm-9">
                                <input type="text" class="form-control input-sm" id="txt_mailtitle" placeholder="Subject">


                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-1 control-label">附 &nbsp;&nbsp; 件</label>
                            <div id="from_fileupload">
                                <div class="btn btn-default btn-file  pull-left" style="margin-left:15px">
                                    <i class="fa fa-paperclip"></i> Attachment
                                    <input type="file" name="attachment" id="file_attachment">
                                </div>


                                <ul class="list-group col-xs-6" style="margin-left:15px" id="ul_attachment"></ul>
                            </div>
                        </div>

                        <!-- /.box-body -->
                        <!-- /.box-footer -->


                        <div class="form-horizontal">
                            <textarea name="description" id="description"></textarea>
                        </div>

                    </form>

                </div>
                <div class="box-footer">

                </div>
                <!-- /.box-body -->
            </div>

            <!-- Custom Tabs -->
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->



<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Set E-mail Send Time</h4>
            </div>


            <div class="modal-body">
                <div class="form-group">
                    <label>Date:</label>

                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" class="form-control pull-right" id="datepicker">
                    </div>
                    <!-- /.input group -->
                </div>

            </div>

            <script type="text/javascript">

            </script>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" id="btn_timersend">Add Timer</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



@section scripts{

    <script src="~/Reference/adminLTE/bower_components/ckeditor/ckeditor.js"></script>
    <script src="~/Reference/scripts/CommonScript.js"></script>
    <script src="~/Reference/scripts/vue-pager.js"></script>
    <script src="~/Reference/scripts/jquery.form.min.js"></script>
    <link href="~/Reference/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/Reference/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

    <script type="text/javascript">


        window.onload = function () {
            CKEDITOR.replace('description', {
                filebrowserImageUploadUrl: "/Template/UploadImage?type=Images",
                height: 400
            });
        }


        var draftid;
        var filelist = new Array();
        var fileitem = new Array();
        var SendModel = "single";

        $(document).ready(function () {

            BindEditor();
            BindAccountView();
            BindTemplate();
            bindGroupView();
            SetEvent();
        });

        function BindEditor() {
            draftid = getQueryString("draftid");
            if (draftid == null || draftid == "") {
                return;
            }
            var content;
            $.ajax({
                url: "/Draft/Select",
                type: "POST",
                data: {
                    mailid: draftid
                },
                success: function (result) {
                    if (result.Success) {
                        var res = result.Content;
                        $("#txt_sendermail").val(res.Tomail);
                        $("#txt_recivermail").val(res.Inmail);
                        $("#txt_mailtitle").val(res.Subject);
                        content = res.Content;
                        CKEDITOR.instances['description'].setData(content);


                    } else {
                        alert_danger("未发现该草稿！");
                    }
                }
            });

        }

        function BindAccountView() {
            account_vm = new Vue({
                el: "#app",
                data: {
                    AccountItems: {}
                },
                created: function () {
                    this.InitAccount();
                },
                methods: {
                    InitAccount: function () {

                        var self = this;
                        $.ajax({
                            url: "/Home/LoadAccount",
                            type: "POST",
                            success: function (result) {

                                if (result.Success) {
                                    self.AccountItems = result.Content.Data;
                                }
                                for (var i = 0; i < result.Content.Data.length; i++) {
                                    if (result.Content.Data[i].Isdefault == 1) {


                                        $("#lb_aid").val(result.Content.Data[i].Aid);
                                        $("#txt_sendermail").val(result.Content.Data[i].Account);
                               
                               
                                    }
                                }
                            }
                        })
                    },

                    AccountUse: function (item) {
                        $("#lb_aid").val(item.Aid);

                        $("#txt_sendermail").val(item.Account);
        

                    }

                }

            });
        }

        function SetEvent() {

            $("#btn_send").click(function () {

                var gid = $("#txt_group_recivermail").val();
                var requestUrl = "/Home/SendMail";
                if (SendModel == "group") {

                    requestUrl = "/Home/GroupSendMail?gid=" + gid;
                }

                var Tomail = $("#txt_sendermail").val();
                var Inmail = $("#txt_recivermail").val();

                var Content = CKEDITOR.instances['description'].getData();
                var Subject = $("#txt_mailtitle").val();
                var AccountId = $("#lb_aid").val();
                var RWcc = $("#txt_WCCrecivermail").val();
                var RBcc = $("#txt_BCCrecivermail").val();


                if (SendModel == "group") {
                    if (gid == "" || gid == null) {
                        alert_danger("请选择收件组！");
                        return;
                    }
                } else {
                    if (Inmail == "" || Inmail == null) {
                        alert_danger("请填写收件人！");
                        return;
                    }
                }

                if (Subject == "" || Subject == null) {

                    alert_danger("主题内容不能为空！");
                    return;
                }
                if (Content == "" || Content == null) {

                    alert_danger("邮件内容不能为空！");
                    return;
                }

                var dialog = bootbox.dialog({
                    title: '邮件发送中...',
                    message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>'
                });

                $.ajax({
                    url: requestUrl,
                    type: "POST",
                    data: {
                        MailId: draftid,
                        Tomail: Tomail,
                        Inmail: Inmail,
                        Content: Content,
                        Subject: Subject,
                        AccountId: AccountId,
                        WCC: RWcc,
                        BCC: RBcc,
                        Atthachment: filelist

                    },
                    success: function (result) {

                        dialog.modal('hide');
                        if (result.Success) {
                            alert_success("邮件发送成功！");
                        } else {
                            alert_danger(result.Message);
                        }
                    }
                });


            });

            $("#btn_timersend").click(function () {

                var requestUrl = "/Home/TimerSendMail";

                var gid = $("#txt_group_recivermail").val();
                if (SendModel == "group") {

                    requestUrl = "/Home/TimerGroupSendMail?gid=" + gid;
                }

                var Tomail = $("#txt_sendermail").val();
                var Inmail = $("#txt_recivermail").val();
                var Content = CKEDITOR.instances['description'].getData();
                var Subject = $("#txt_mailtitle").val();
                var AccountId = $("#lb_aid").val();
                var RWcc = $("#txt_WCCrecivermail").val();
                var RBcc = $("#txt_BCCrecivermail").val();
                var Senddate = $("#datepicker").val();;
                if (SendModel == "group") {
                    if (gid == "" || gid == null) {
                        alert_danger("请选择收件组！");
                        return;
                    }
                } else {
                    if (Inmail == "" || Inmail == null) {
                        alert_danger("请填写收件人！");
                        return;
                    }
                }
                if (Subject == "" || Subject == null) {

                    alert_danger("主题内容不能为空！");
                    return;
                }
                if (Content == "" || Content == null) {

                    alert_danger("邮件内容不能为空！");
                    return;
                }
                if (Senddate == "" || Senddate == null) {

                    alert_danger("设定发送时间不能为空！");
                    return;
                }


                var dialog = bootbox.dialog({
                    title: '定时邮件添加中...',
                    message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>'
                });
                $.ajax({
                    url: requestUrl,
                    type: "POST",
                    data: {
                        MailId: draftid,
                        Tomail: Tomail,
                        Inmail: Inmail,
                        Content: Content,
                        Subject: Subject,
                        AccountId: AccountId,
                        WCC: RWcc,
                        BCC: RBcc,
                        Atthachment: filelist,
                        Senddate: Senddate
                    },
                    success: function (result) {

                        dialog.modal('hide');
                        if (result.Success) {
                            alert_success("邮件发送成功！");
                        } else {
                            alert_danger(result.Message);
                        }
                    }
                });




            });


            $("#btn_savedraft").click(function () {

                var action = "/Draft/Update";
                draftid = getQueryString("draftid");
                console.log(draftid);

                if (draftid == null || draftid == "") {
                    action = "/Draft/Add";
                }

                var Tomail = $("#txt_sendermail").val();
                var Inmail = $("#txt_recivermail").val();
                var Content = CKEDITOR.instances['description'].getData();
                var Subject = $("#txt_mailtitle").val();
                var AccountId = $("#lb_aid").val();


                if (Subject == "" || Subject == null) {

                    alert_danger("主题内容不能为空！");
                    return;
                }
                if (Content == "" || Content == null) {

                    alert_danger("草稿内容不能为空！");
                    return;
                }

                $.ajax({
                    url: action,
                    type: "POST",
                    data: {
                        MailId: draftid,
                        Tomail: Tomail,
                        Inmail: Inmail,
                        Content: Content,
                        Subject: Subject,
                        AccountId: AccountId
                    },
                    success: function (result) {
                        if (result.Success) {
                            alert_success("保存成功！");
                        } else {
                            alert_danger("保存失败！");
                        }
                    }
                });

            });

            $("#file_attachment").change(function () {

                var lengli = $("#ul_attachment li").length;
                var uploadFile = $('#file_attachment')[0].files[0];

                if (lengli >= 5) {
                    alert_danger("单次仅能发送5个附件");
                    return;
                }

                if (uploadFile.size >= 19653562) {
                    alert_danger("单个文件请不要超过15M");
                    return;
                }

                if (fileitem.indexOf(uploadFile.name) > -1) {
                    alert_danger("附件已存在,请重新选择附件");
                    return;
                }
                fileitem.push(uploadFile.name);

                var index1 = uploadFile.name.lastIndexOf(".");
                var index2 = uploadFile.name.length;
                var suffix = uploadFile.name.substring(index1 + 1, index2);
                var filename = uploadFile.name.substring(0, index1);

                var element = "<li id='li_file_" + filename + "' class=\"list-group-item\" style=\"padding:5px 10px\">";
                element += "      <span>";
                element += "      <i class=\"fa fa-paperclip\"></i>";
                element += "                   <small>  " + uploadFile.name + "</small>";
                element += "                 <a style=\"margin-left:20px; cursor:default\" onclick=\"removefile('li_file_" + filename + "','" + uploadFile.name + "')\"><small>删除</small></a>";

                if (suffix == "png" || suffix == "jpg") {
                    element += "                   <a id='a_insert_contnet_" + filename + "' style=\"margin-left:20px; cursor:default\" onclick='insert2contnet(this.name)'><small>添加到正文</small></a>";
                }

                element += "                   <small id='small_progress_" + filename + "' class=\"pull-right\" style=\"display:block\">0%</small>";
                element += "                </span>";
                element += "                 <div id='div_progress_" + filename + "' class=\"progress xxs \" style=\"margin-bottom:0px;display:block\">";
                element += "                    <div id='green_div_progress_" + filename + "' class=\"progress-bar progress-bar-green\" style=\"width: 0%\" role=\"progressbar\"  aria-valuenow=\"20\" aria-valuemin=\"0\" aria-valuemax=\"100\">";
                element += "                     <span id='span_progress_" + filename + "' class=\"sr-only\">0% Complete</span>";
                element += "             </div>";
                element += "             </div>";
                element += "     </li>";


                $("#ul_attachment").append(element);

                $("#from_fileupload").ajaxSubmit({
                    url: '/Home/UploadAttachment',
                    type: 'post',
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    success: function (result) {

                        if (suffix == "png" || suffix == "jpg") {
                            document.getElementById("a_insert_contnet_" + filename).name = result.Content;
                        }

                        //添加到上传数组
                        filelist.push(result.Content);

                    },
                    xhr: function () {
                        var xhr = new XMLHttpRequest();
                        xhr.upload.addEventListener('progress', function (e) {
                            var baserate = (e.loaded / e.total).toFixed(2);
                            var progressRate = baserate * 100 + '%';
                            var progress_node = document.getElementById("div_progress_" + filename);   //进度条父节点
                            var progress_node_div = document.getElementById("green_div_progress_" + filename);
                            var progress_node_span = document.getElementById("span_progress_" + filename);
                            var progress_value = document.getElementById("small_progress_" + filename);

                            //通过设置进度条的宽度达到效果
                            progress_node_div.style.width = progressRate;
                            progress_node_span.innerHTML = progressRate;
                            progress_value.innerHTML = progressRate;

                            //上传完成
                            if (e.loaded == e.total) {
                                progress_node.style.display = "none";
                                progress_value.style.display = "none";
                            }
                        })

                        return xhr;
                    }
                })


            });

            $('#datepicker').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                autoclose: true,

            });


            $("#GetGroupMode").click(function () {
                $("#div_recmail").hide();
                $("#div_group_recmail").show();
                $("#GetGroupMode").hide();
                $("#GetSingleMode").show();

                SendModel = "group";

            });

            $("#GetSingleMode").click(function () {
                $("#div_group_recmail").hide();
                $("#div_recmail").show();

                $("#GetSingleMode").hide();
                $("#GetGroupMode").show();

                SendModel = "single";
            });
        }

        //移除附件
        function removefile(el, filename) {

            var _element = document.getElementById(el);
            var _parentElement = _element.parentNode;
            if (_parentElement) {
                _parentElement.removeChild(_element);
            }

            var index = filelist.indexOf(filename);
            if (index > -1) {
                filelist.splice(index, 1);
            }

            var index2 = fileitem.indexOf(filename);
            if (index2 > -1) {
                fileitem.splice(index2, 1);
            }

        }

        //添加图片到正文
        function insert2contnet(imgurl) {

            var element = " <img src='" + imgurl + "' />";
            CKEDITOR.instances['description'].insertHtml(element);
        }

        //添加抄送或密送
        function Song(ele) {

            $("#" + ele).show();

        }
        //删除抄送或密送
        function NoSong(ele, txtele) {
            $("#" + txtele).val("");

            $("#" + ele).hide();

        }

        function BindTemplate() {

            temp_vm = wui.pagination({
                el: "#App_Temp",
                url: "/Template/ListTemp",
                query: function () {

                },
                methods: {
                    useitem: function (item) {
                        CKEDITOR.instances['description'].setData(item.TempContent);
                        $("#txt_mailtitle").val(item.TempName);
                    }
                },
                showTips: alert_danger
            });
        }


        function bindGroupView() {

            $.ajax({
                url: "/Contact/ListGroup",
                type: "POST",
                success: function (result) {

                    if (result.Success) {
                        self.groupitems = result.Content.Data;

                        if (0 < result.Content.Data.length) {
                            for (var i = 0; i < result.Content.Data.length; i++) {
                                $("#txt_group_recivermail").append("<option value='" + result.Content.Data[i].Gid + "'>" + result.Content.Data[i].Groupname + "</option>");
                            }
                        }


                    } else {


                    }

                }
            });
        }




    </script>


}