
@{
    ViewBag.Title = "Index";

}


@section HtmlHead{

    <script src="~/ckeditor/ckeditor.js"></script>
}


<div>
<textarea name="description" id="description" /></textarea>

<button type="button" class="btn btn-block btn-success">Send</button>

</div>

<script type="text/javascript">
    window.onload = function () {
        CKEDITOR.replace('description', {
            height: 500,
          


        });
       
    };




</script>