
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
<style type="text/css">
    .container-fluid {
        padding: 0 !important;
    }
</style>
<form id="_form">
    <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
    <div class="alert-warning" style="padding:10px;">
        <strong>系统提醒：</strong><br /> <p>  您确定是否需要删除此项？</p>
    </div>
</form>
@section scripts{
    <script type="text/javascript">
       var _url = "@Url.Content("/admin/Goods/Delete")";
        $(document).ready(function () {
            wui.win.submit(function () {
                $.post(_url, $("#_form").serialize(), function (result) {
                    if (!result.Success) {
                        alert(result.Message);
                        return false;
                    }
                    wui.win.callback(result.Content);
                    wui.win.close();
                });
            });
        })
    </script>
}


