
@{
    ViewBag.Title = "Index";
}

@section Pageheader{


    <h1>
        <small>  Contact</small>

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Contact</li>
    </ol>

}


<section class="content">

    <div class="row">
        <div class="col-md-3">
            <!--添加联系人-->
            <div class="box box-solid">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Contact</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-body">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Name</label>

                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txt_name" placeholder="Contact Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Email</label>

                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="txt_mail" placeholder="Contact Email">

                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Group</label>

                                <div class="col-sm-10">
                                    <select class="form-control" id="sl_add_Contact"></select>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="button" class="btn btn-info pull-right" id="btn_addContact">Submit</button>
                        </div>
                        <!-- /.box-footer -->

                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!--/添加联系人-->
            <!--添加分组-->
            <div class="box box-info" id="app">

                <div class="box-header with-border">
                    <h3 class="box-title">Group List</h3>
                </div>
                <div class="box-header">
                    <label for="inputEmail3" class="col-sm-2 control-label">Group Name</label>

                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="txt_gourpname" placeholder="Enter Group Name">
                    </div>

                    <button type="button" class="btn btn-info pull-right" id="btn_addgroup" v-on:click="AddGroup()">Add</button>
                </div>

                <div class="box-body" id="App_Group">

                    <ul class="list-group">
                        <li class="list-group-item" v-for="item in groupitems">

                            <b v-on:click="SelectGroup(item)">{{item.Groupname}}</b>&nbsp;&nbsp;


                            <a class="pull-right" v-on:click="DeleteGroup(item)"> delete</a>
                            <div class="col-xs-1 pull-right"> </div>
                            <a class="pull-right" v-on:click="UpdateGroup(item)">update</a>

                        </li>

                    </ul>


                </div>
                <!-- /.box-body -->
            </div>

            <!--/添加分组-->
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <!--联系人列表-->
        <div class="col-md-9">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Contact List</h3>




                    <div class="box-tools">

                        <div class="input-group input-group-sm" style="width: 150px;float:left;margin-right:20px">
                            <select id="dl_Search" class="form-control pull-right"></select>
                        </div>

                        <div class="input-group input-group-sm" style="width: 150px;float:left">

                            <input type="text" name="btnSearch" id="txt_keyword" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="button" id="btn_Search" class="btn btn-default"><i class="fa fa-search"></i></button>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding" id="App_Contact">
                    <table class="table table-hover" id="tab_contact">
                        <tbody>
                            <tr>
                                <th><input type="checkbox" id="checkAll"   name="all" /></th>
                           
                                <th>Name</th>
                                <th>Email</th>
                                <th>Gid</th>
                                <th>Group Name</th>
                                <th>Date</th>
                                <th>operation</th>
                            </tr>
                            <tr v-for="(item,index) in Data">
                                <td>
                                
                                    <input type="checkbox" id="box_check" :value="item.ContactId" onclick="userCheck(this)"  />
                                 
                                
                              </td>
                           
                                <td>{{item.ContactName}}</td>
                                <td>{{item.Email}}</td>
                                <td>{{item.Gid}}</td>
                                <td>{{item.Groupname}}</td>
                                <td>{{item.Createtime}}</td>

                                <td>

                                    <button type="button" class="btn bg-purple  btn-xs" v-on:click="updateitem(item)" data-toggle="modal" data-target="#modal-default">修改</button>  &nbsp; &nbsp;
                                    <button type="button" class="btn bg-maroon  btn-xs" v-on:click="deleteitem(item)">删除</button> &nbsp;

                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <form id="updateForm" method="post" enctype="multipart/form-data">

                        <input type="file" id="file_excel" class="btn btn-xs btn-success pull-left" data-upload-url="/Contact/ExpExcelContact" style="margin-left:20px;margin-top:15px;" />

                        <button type="button" class="btn btn-sm m-4 btn-success pull-left" id="btn_downloadtemp" style="margin-left:20px;margin-top:15px">下载模板</button>

                        <button type="button" class="btn btn-sm m-4 btn-success pull-left" id="btn_alldeltemp" style="margin-left:20px;margin-top:15px">批量删除</button>

                        <button type="button" class="btn btn-sm m-4 btn-success pull-left" id="btn_allupdatetemp" style="margin-left:20px;margin-top:15px">批量修改</button>
                    </form>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!--/联系人列表-->
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>

<!-- 修改联系人 -->

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">

                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Update Contact</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="box-body">

                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Name</label>
                                <span style="display:block" id="span_id"></span>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="txt_cname" placeholder="set contact name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>

                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="txt_cmail" placeholder="set contact email">
                                </div>
                            </div>


                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">Group</label>

                                <div class="col-sm-10">
                                    <select class="form-control" id="sl_update_group"></select>
                                </div>


                            </div>

                        </div>


                        <div class="box-footer">
                            <span class="label label-success" id="span_result"></span>

                        </div>

                        <!-- /.box-footer -->
                    </form>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal" id="btn_model_close">Close</button>
                <button type="button" class="btn btn-primary" id="btn_UpdateContact">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /修改联系人 -->
@section scripts{

    <script src="~/Reference/scripts/vue-pager.js"></script>
    <script src="~/Reference/scripts/xhrUpload.js"></script>

    <script type="text/javascript">

        var group_vm;
        var contact_vm;
        var dialog;
        $(document).ready(function () {

            bindContactView();
            bindGroupView();
            setEvent();




        });
    function userCheck(ths) {
    if (ths.checked == false) {
        $("input[name=all]:checkbox").prop('checked', false);
    }
    else {
        var count = $("input[name='id']:checkbox:checked").length;
        if (count == $("input[name='id']:checkbox").length) {
            $("input[name=all]:checkbox").prop("checked", true);
        }
    }
}
        function setEvent() {
            $("#btn_addContact").click(function () {

                var contactName = $("#txt_name").val();
                var contactEmail = $("#txt_mail").val();
                var groupid = $("#sl_add_Contact").val();


                if (groupid == "" || groupid == null) {
                    alert_danger("请先添加分组！");
                    return;
                }

                if (contactName == "" || contactName == null) {
                    alert_danger("请添加联系人名称！");
                    return;
                }
                if (contactEmail == "" || contactEmail == null) {
                    alert_danger("请添加联系人邮箱！");
                    return;
                }


                $.ajax({
                    url: "/Contact/AddContact",
                    type: "POST",
                    data: {
                        ContactName: contactName,
                        Email: contactEmail,
                        Gid: groupid
                    },
                    success: function (result) {

                        if (result.Success) {
                            alert_success("添加成功！");
                            contact_vm.reload();

                        } else {
                            alert_danger("添加失败！");
                        }

                    }
                })

            });
            $("#btn_Search").click(function () {

                contact_vm.reload();
            });
            $("#btn_UpdateContact").click(function () {
                var cid = $("#span_id").val();
                var cname = $("#txt_cname").val();
                var cmail = $("#txt_cmail").val();
                var gid = $("#sl_update_group").val();

                $.ajax({
                    url: "/Contact/UpdateContact",
                    type: "POST",
                    data: {
                        ContactId: cid,
                        ContactName: cname,
                        Email: cmail,
                        Gid: gid
                    },
                    success: function (result) {
                        if (result.Success) {
                            $("#modal-default").modal("hide");
                            alert_success("修改成功！");
                            contact_vm.reload();

                        } else {
                            alert_danger(result.Message);
                        }
                    }
                })


            });
            $("#btn_downloadtemp").click(function () {
                window.location = "/File/ContactTemp.xls";

            })

   

             $("input[name=all]").click(function () {
        if (this.checked) {
            $("#tab_contact :checkbox").prop("checked", true);
        } else {
            $("#tab_contact :checkbox").prop("checked", false);
        }
    });


            $("#btn_alldeltemp").click(function () {

                var list = new Array();
                var checkedbox = $("input[id^='box_']:checked");
                if (checkedbox.length == 0) {
                    alert_danger("请选择要删除的联系人");
                } else {

                    checkedbox.each(function () {
                        list.push(this.value);
                    });

                    
                    bootbox.confirm("您确定删除该联系人吗？", function (res) {

                        if (!res) {
                            return;
                        }

                        $.ajax({
                            url: "/Contact/DeleteAllContact",
                            type: "POST",
                            data: {
                                ContactId: list,

                            },
                            success: function (result) {
                                if (result.Success) {

                                    alert_success("删除成功！");
                                    contact_vm.reload();
                                    $("#tab_contact :checkbox").prop("checked", false);

                                } else {
                                    alert_danger(result.Message);
                                }
                            }
                        })


                    });


                }


            });
            $("#btn_allupdatetemp").click(function () {

                var list = new Array();
                var checkedbox = $("input[id^='box_']:checked");
                if (checkedbox.length == 0) {
                    alert_danger("请选择要修改的联系人");
                } else {

                    checkedbox.each(function () {
                        list.push(this.value);
                    });
                    console.log(list);

                    var boxchecklist = [];
                    boxchecklist.push({ "text": "请选择", "value": "" });

                    for (var i = 0; i < group_vm.groupitems.length; i++) {

                        var text = group_vm.groupitems[i].Groupname;
                        var value = group_vm.groupitems[i].Gid;
                        var boxitem = { "text": text, "value": value };

                        boxchecklist.push(boxitem);
                    }


                    bootbox.prompt({
                        title: "This is a prompt with select!",
                        inputType: 'select',
                        inputOptions: boxchecklist,
                        callback: function (res) {
                           
                            $.ajax({
                                url: "/Contact/UpdateGroupAllContact",
                                type: "POST",
                                data: {
                                    ContactId: list,
                                    gid: res
                                },
                                success: function (result) {
                                    if (result.Success) {

                                        alert_success("修改成功！");
                                        contact_vm.reload();
                                           $("#tab_contact :checkbox").prop("checked", false);

                                    } else {
                                        alert_danger(result.Message);
                                    }
                                }
                            })
                           
                        }
                    });






                }



            });

            $("#file_excel").xhrUpload({
                completed: function (response) {

                    if (!response) {
                        alert_danger("上传出现错误");
                    } else {
                        if (response.Success) {
                            console.log(response);
                            var filename = response.Content;
                            bootbox.confirm("excel上传成功是否导入联系人", function (res) {

                                if (!res) {
                                    return;
                                }

                                var dialog = bootbox.dialog({
                                    title: '正在导入中,请稍等...',
                                    message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>'
                                });

                                $.ajax({
                                    url: "/Contact/ImportContact",
                                    type: "POST",
                                    data: {
                                        filename: filename,
                                    },
                                    success: function (result) {
                                        if (result.Success) {
                                            alert_success("导入成功！");
                                            contact_vm.reload();
                                            $("#file_excel").val("");
                                            dialog.modal('hide');
                                        }
                                        else {
                                            alert_danger(result.Message);
                                        }
                                    }
                                })



                            });


                        } else {
                            var message = response.Message || "上传文件出现错误";
                            alert_danger("上传失败：" + message);
                        }
                    }
                }

            });

        }


        function bindGroupView() {
            group_vm = new Vue({
                el: "#app",
                data: {
                    groupitems: {}
                },
                created: function () {
                    this.InitGroup();
                },
                methods: {
                    InitGroup: function () {

                        var self = this;
                        $.ajax({
                            url: "/Contact/ListGroup",
                            type: "POST",
                            success: function (result) {

                                if (result.Success) {
                                    self.groupitems = result.Content.Data;

                                    $("#sl_add_Contact").html("");
                                    $("#dl_Search").html("");
                                    $("#sl_update_group").html("");
                                    $("#dl_Search").append("<option value='999999999'>--请选择--</option>");
                                    if (0 < result.Content.Data.length) {
                                        for (var i = 0; i < result.Content.Data.length; i++) {
                                            $("#sl_add_Contact").append("<option value='" + result.Content.Data[i].Gid + "'>" + result.Content.Data[i].Groupname + "</option>");
                                            $("#dl_Search").append("<option value='" + result.Content.Data[i].Gid + "'>" + result.Content.Data[i].Groupname + "</option>");
                                            $("#sl_update_group").append("<option value='" + result.Content.Data[i].Gid + "'>" + result.Content.Data[i].Groupname + "</option>");
                                        }
                                    }
                                    else {

                               

                                    }


                                } else {


                                }

                            }
                        })
                    },
                    AddGroup: function () {

                        var groupname = $("#txt_gourpname").val();
                        if (groupname == "" || groupname == null) {
                            alert_danger("请添加分组名称！");
                            return;
                        }

                        $.ajax({
                            url: "/Contact/AddGroup",
                            type: "POST",
                            data: {
                                Groupname: groupname
                            },
                            success: function (result) {
                                if (result.Success) {
                                    alert_success("添加成功！");
                                    group_vm.InitGroup();
                                } else {
                                    alert_danger("添加失败！");
                                }
                            }
                        })

                    },
                    DeleteGroup: function (item) {
                        bootbox.confirm("Are you sure?", function (result) {
                            if (result) {

                                $.ajax({
                                    url: "/Contact/DeleteGroup",
                                    type: "POST",
                                    data: {
                                        Gid: item.Gid
                                    },
                                    success: function (result) {
                                        if (result.Success) {
                                            alert_success("删除成功！");
                                            group_vm.InitGroup();
                                        } else {


                                            alert_danger(result.Message);
                                        }
                                    }
                                })

                            }

                        });


                    },
                    UpdateGroup: function (item) {
                        bootbox.prompt("please set new group name!", function (result) {


                            if (result == null) {
                                return;
                            }

                            $.ajax({
                                url: "/Contact/UpdateGroup",
                                type: "POST",
                                data: {
                                    Gid: item.Gid,
                                    Groupname: result

                                },
                                success: function (result) {
                                    if (result.Success) {
                                        alert_success("修改成功！");
                                        group_vm.InitGroup();
                                    } else {


                                        alert_danger(result.Message);
                                    }
                                }
                            });

                        })

                    },
                    SelectGroup: function (item) {

                        $("#dl_Search").val(item.Gid);
                        $("#btn_Search").click();
                    }
                }

            });
        }

        function bindContactView() {

            contact_vm = wui.pagination({
                el: "#App_Contact",
                url: "/Contact/ListContact",
                query: function () {
                    var gid = $("#dl_Search").val();
                    if (gid == "999999999") {
                        gid = null;
                    }
                    var keywords = $("#txt_keyword").val();
                    var data = {
                        keyword: keywords,
                        Gid: gid
                    };
                    return data;
                },
                methods: {
                    updateitem: function (item) {

                        $("#span_id").val(item.ContactId);
                        $("#txt_cname").val(item.ContactName);
                        $("#txt_cmail").val(item.Email);
                        $("#sl_update_group").val(item.Gid);


                    },
                    deleteitem: function (item) {

                        bootbox.confirm("Are you sure？", function (res) {

                            if (!res) {
                                return;
                            }
                             $.ajax({
                            url: "/Contact/DeleteContact",
                            type: "POST",
                            data: {
                                ContactId: item.ContactId
                            },
                            success: function (result) {
                                if (result.Success) {
                                    alert_success("删除成功！");
                                    contact_vm.reload();

                                } else {
                                    alert_danger(result.Message);
                                }
                            }
                        })

                        })

                       
                    },

                },
                showTips: alert_danger
            });

        }
    </script>

}