
@{
    ViewBag.Title = "Index";
}

@section Pageheader{



    <h1>
        <small>  InBox</small>

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">InBox</li>
    </ol>

}

<div class="row">

    <div class="col-md-3">
        <div class="box box-info" id="app">

            <div class="box-header with-border">
                <h3 class="box-title">User Account</h3>
            </div>

            <div class="box-body table-responsive ">

                <ul class="list-group">
                    <li class="list-group-item" v-for="item in AccountItems">

                        <b>{{item.Account}}</b>&nbsp;&nbsp;

                        <button type="button" class="btn bg-primary  btn-xs pull-right " v-on:click="AccountUse(item)">Use</button>
                    </li>

                </ul>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Inbox</h3>
                <label id="lb_aid" style="display:block"></label>

                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        <input type="text" class="form-control input-sm" placeholder="Search Mail" id="txt_Search">
                        <span class="glyphicon glyphicon-search form-control-feedback"></span>
                    </div>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                        <i class="fa fa-square-o"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                    </div>
                    <!-- /.btn-group -->
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.pull-right -->
                </div>
                <div class="table-responsive mailbox-messages">
                    <table class="table table-hover table-striped" id="tab_reclist">
                        <tbody>
                            <tr v-for="item in Items">
                                <td>  <input type="checkbox" :value=item.Recid>  </td>


                                <td class="mailbox-star">
                                    <a  v-if="item.FlagRead==0" v-on:click="ChangeRead(item)"><i class="fa  fa-envelope text-bule"></i></a>
                                    <a  v-if="item.FlagRead==1" v-on:click="ChangeRead(item)"><i class="fa  fa-eye text-bule"></i></a>
                                </td>
                                <td class="mailbox-name"><a :href="'/ReceiveEmail/Read?recid='+item.Recid">{{item.SenderName}}</a></td>
                                <td class="mailbox-subject">
                                    <b>{{item.Subject}}</b>
                                </td>

                                <td class="mailbox-date"> <i class="fa fa-paperclip" v-if="item.Hasfile==1"></i></td>
                                <td class="mailbox-date">
                                    {{item.Createtime}}
                                </td>
                                <td class="mailbox-star">
                                <a  v-if="item.FlagStatus==0" v-on:click="ChangeStar(item)"><i class="fa fa-star text-yellow"></i></a>
                                <a  v-if="item.FlagStatus==1" v-on:click="ChangeStar(item)"><i class="fa fa-star-o text-yellow"></i></a>
                                </td>
                            </tr>


                        </tbody>
                    </table>
                    <!-- /.table -->
                </div>
                <!-- /.mail-box-messages -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer no-padding">
                <div class="mailbox-controls">
                    <!-- Check all button -->
                    <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                        <i class="fa fa-square-o"></i>
                    </button>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                        <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                    </div>
                    <!-- /.btn-group -->
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                    <div class="pull-right">
                        1-50/200
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                            <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                        </div>
                        <!-- /.btn-group -->
                    </div>
                    <!-- /.pull-right -->
                </div>
            </div>
        </div>
        <!-- /. box -->
    </div>
    <!-- /.col -->
</div>



@section scripts{
    <link href="~/Reference/adminLTE/plugins/iCheck/flat/blue.css" rel="stylesheet" />
    <script src="~/Reference/adminLTE/bower_components/jquery-slimscroll/jquery.slimscroll.js"></script>
    <script src="~/Reference/adminLTE/bower_components/fastclick/lib/fastclick.js"></script>
    <script src="~/Reference/adminLTE/plugins/iCheck/icheck.js"></script>
    <script src="~/Reference/scripts/CommonScript.js"></script>


    <script>


        var account_vm;
        var recmail_vm;
        $(document).ready(function () {

            BindAccountView();
            BindRecListView();
            SetEvent();
        });
        function SetEvent() {



        }


        function BindAccountView() {
            account_vm = new Vue({
                el: "#app",
                data: {
                    AccountItems: {}
                },
                created: function () {
                    this.InitAccount();
                },
                methods: {
                    InitAccount: function () {

                        var self = this;
                        $.ajax({
                            url: "/Home/LoadAccount",
                            type: "POST",
                            success: function (result) {

                                if (result.Success) {
                                    $("#lb_aid").val(result.Content.Data[0].Aid);
                                    self.AccountItems = result.Content.Data;
                                }
                            }
                        })
                    },
                    AccountUse: function (item) {
                    }

                }

            });
        }



        function BindRecListView() {
            recmail_vm = new Vue({
                el: "#tab_reclist",
                data: {
                    Items: {}
                },
                created: function () {
                    this.InitAccount();
                },
                methods: {
                    InitAccount: function () {
                        var self = this;
                        var aid = $("#lb_aid").val();
                        var keywords = $("#txt_Search").val();

                        $.ajax({
                            url: "/ReceiveEmail/List",
                            type: "POST",
                            data: {

                                accountid: aid,
                                keywords: keywords
                            },
                            success: function (result) {

                                if (result.Success) {

                                    self.Items = result.Content.Data;
                                }
                            }
                        })
                    },

                    ChangeRead: function (item) {
                  
                         $.ajax({
                            url: "/ReceiveEmail/IsRead",
                            type: "POST",
                            data: {
                                status:item.FlagRead,
                                rid: item.Recid
                            },
                            success: function (result) {

                                if (result.Success) {
                                    recmail_vm.InitAccount();

                                } else {

                                    alert_danger(result.Message);
                                }
                            }
                        })
                    },
                    ChangeStar: function (item) {
                           $.ajax({
                            url: "/ReceiveEmail/IsStar",
                            type: "POST",
                            data: {
                                status:item.FlagStatus,
                                rid: Recid,
                             
                            },
                            success: function (result) {

                                if (result.Success) {
                                     recmail_vm.InitAccount();

                                } else {

                                    alert_danger(result.Message);
                                }
                            }
                        })

                    }

                },
                updated: function () {
                    $('.mailbox-messages input[type="checkbox"]').iCheck({
                        checkboxClass: 'icheckbox_flat-blue',
                        radioClass: 'iradio_flat-blue'
                    });


                }

            });

        }



        $(function () {

            $('.mailbox-messages input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });

            //Enable check and uncheck all functionality
            $(".checkbox-toggle").click(function () {
                var clicks = $(this).data('clicks');
                if (clicks) {
                    //Uncheck all checkboxes
                    $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                    $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
                } else {
                    //Check all checkboxes
                    $(".mailbox-messages input[type='checkbox']").iCheck("check");
                    $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
                }
                $(this).data("clicks", !clicks);
            });

            //Handle starring for glyphicon and font awesome
            $(".mailbox-star").click(function (e) {
                e.preventDefault();
                //detect type
                var $this = $(this).find("a > i");
                var glyph = $this.hasClass("glyphicon");
                var fa = $this.hasClass("fa");

                //Switch states
                if (glyph) {
                    $this.toggleClass("glyphicon-star");
                    $this.toggleClass("glyphicon-star-empty");
                }

                if (fa) {
                    $this.toggleClass("fa-star");
                    $this.toggleClass("fa-star-o");
                }
            });



        });


    </script>


}