
@{
    ViewBag.Title = "Read";
}
@section Pageheader{


    <h1>
        <small>  ReadMail</small>

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">ReadMail</li>
    </ol>

}

<div class="box box-primary" id="app_content">
    <div class="box-header with-border">
        <h3 class="box-title">Read Mail</h3>

        <div class="box-tools pull-right">
            <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Previous"><i class="fa fa-chevron-left"></i></a>
            <a href="#" class="btn btn-box-tool" data-toggle="tooltip" title="Next"><i class="fa fa-chevron-right"></i></a>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body no-padding">




        <div class="mailbox-read-info">
            <div class="pull-right">
                <button type="button" class="btn btn-default"><i class="fa fa-reply"></i> Reply</button>
                <button type="button" class="btn btn-default"><i class="fa fa-share"></i> Forward</button>

                <button type="button" class="btn btn-default"><i class="fa fa-trash-o"></i> Delete</button>
                <button type="button" class="btn btn-default"><i class="fa fa-print"></i> Print</button>
            </div>
            <h3>{{Subject}}</h3>
            <h5>
                From: {{SenderMail}}
                &nbsp;&nbsp;&nbsp;<span class="mailbox-read-time">{{Rectimer}}</span>
            </h5>

        </div>

        <div class="form-group" id="app_attchment" style="margin-left:20px;margin-top:5px">
            附件：
            <ul class="list-group" id="ul_attachment" style="width:400px">
                <li class="list-group-item" v-for="item in AttItems">

                    <b>{{item.Filename}}</b>&nbsp;&nbsp;

                    <a :href="item.Downloadurl" class="btn btn-default btn-xs pull-right" :download="item.Filename"><i class="fa fa-cloud-download"></i></a>
                </li>

            </ul>
        </div>


        <div class="mailbox-read-message" id="div_content">
            <textarea name="description" id="description"></textarea>
        </div>



    </div>

    

</div>
<!-- /. box -->


@section scripts{
    <script src="~/Reference/adminLTE/bower_components/ckeditor/ckeditor.js"></script>
    <script src="~/Reference/scripts/CommonScript.js"></script>


    <script>
     

        var content_vm;
        var attchment_vm;
        var recid;

        $(document).ready(function () {

            recid = getQueryString("recid");

            BindContentView();
          
            SetEvent();

        });

        function BindContentView() {
            content_vm = new Vue({

                el: "#app_content",
                data: {
                    Recid: "",
                    SenderMail: "",
                    SenderName: "",
                    ReciverName: "",
                    ReciverMail: "",
                    Subject: "",
                    Rectimer: "",
                    Content: "",
                    AttItems: {}
                },
                created: function () {
                    this.InitConent();
                    this.InitAttchment();
                },
                methods: {
                    InitConent: function () {

                        var self = this;
                        $.ajax({
                            url: "/ReceiveEmail/GetContent",
                            type: "POST",
                            data: {
                                recid: recid
                            },
                            success: function (result) {
                                self.Content = result.content;
                                self.Recid = result.recid;
                                self.SenderMail = result.sender_mail;
                                self.SenderName = result.sender_name;
                                self.ReciverName = result.reciver_name;
                                self.ReciverMail = result.reciver_mail;
                                self.Subject = result.subject;
                                self.Rectimer = result.rectimer;
                                self.Content = result.content;
                                CKEDITOR.replace('description', {  height: 500,allowedContent: true });
                                CKEDITOR.instances['description'].setData(self.Content);
                              
                            }
                        })
                    },
                    InitAttchment: function () {

                        var self = this;
                        $.ajax({
                            url: "/ReceiveEmail/GetAttchmentList",
                            type: "POST",
                            data: {
                                recid: recid
                            },
                            success: function (result) {
                                if (result.Success) {
                                    self.AttItems =  result.Content.Data;
                                }
                            }
                        })
                    },

                }
             

            });

        }
      

        function SetEvent() {


        }




    </script>


}

